.body{
    background-color: rgb(13, 13, 13);
}
.slick-slide {
    margin: 0 -20px;
}
.slick-list {
    margin: 0 -10px;
}
.box-slider {
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
}
.title{
    color: aliceblue;
}