body {
    background-color: rgb(25, 25, 25);
}
.HeaderL {
 position:fixed;
 background: black;
 width: 100%; 
 height: 70px;
 z-index: 9999;
}
.box-banner{
    margin: auto;
    width: 95%;
    margin-top:80px;
}

.categories {
    color: aliceblue;
    font-style: bold;
    font-size: 18pt;
}

